# LISTA DE ARCHIVOS O CARPETAS A IGNORAR PARA NO TOMAR EN CUENTA AL SUBIR EN REPOSITORIO O ACTUALIZAR
# IGNORAR UN ARCHIVO
archivo_ignorar.txt

# IGNORAR CARPETA
/archivos_ignorar

# IGNORAR SUBCARPETA
ignorar_subcarpeta\subcarpeta_ignorar